<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    
    <%
         if(typeof message != 'undefined'){
    %>
    <h3 style="color:green;"><%= message %></h3>
    <%
 }
 %>


 <div class="login">
	<h1>Forget password</h1>
    <form action="/admin/forget" method="post">
    	<input type="email" name="email" placeholder="Enter Email" required >
        
        <button type="submit"  value="Login" class="btn btn-primary btn-block btn-large">Send Reset Link</button>
    </form>
   
</div>


</body>
</html>