<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    
    <%
         if(typeof message != 'undefined'){
    %>
    <h3 style="color:green;"><%= message %></h3>
    <%
 }
 %>


 <div class="login">
	<h1>Reset password</h1>
    <form action="" method="post">
    	<input type="password" name="password" placeholder="Enter password" required >
        <input type="hidden" name="user_id" value="<%= user_id %>" >
        
        <button type="submit"  value="Reset" class="btn btn-primary btn-block btn-large">Reset Password</button>
    </form>
   
</div>


</body>
</html>