<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Placement Management System</title>
    <link rel="stylesheet" href="/stylesheets/logout.css">
</head>
<body>
    <header>
        <div class="nav-container">
           
            <div class="logo">IIIT SURAT</div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="#">Recruiters</a></li>
                    <li><a href="#">Coordinators</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Login</a>
                        <div class="dropdown-content">
                            <a href="/login">Student</a>
                            <a href="/admin/login">Admin</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Placement Management</h1>
            <p>Ensuring the best placements for our students with top recruiters.</p>
            <div class="hero-buttons">
                <button><a href="/login">Registration</a></button>
                
            </div>
        </div>
    </section>

    <section class="services">
        <h2>Highlighs</h2>
        <div class="service-container">
            <div class="service-box">
                <h3>ECE Branch</h3>
                <p>Highest Package:24 LPA</p>
                <p>Average Package:10 LPA</p>
                <p>Median Package:8 LPA</p>
                <p>Percentage Of Student Placed:55%</p>
            </div>
            <div class="service-box">
                <h3>CSE Branch</h3>
                <p>Highest Package:24.5 LPA</p>
                <p>Average Package:14 LPA</p>
                <p>Median Package:10 LPA</p>
                <p>Percentage Of Student Placed:85%</p>
            </div>
           
        </div>
    </section>

    <section class="statistics">
        <h2>Placement Statistics</h2>
        <div class="statistics-container">
            <div class="stat-box">
                <img src="/Images/bk38.jpg" alt="Stat Image 1">
            </div>
            <div class="stat-box">
                <img src="/Images/bk39.webp" alt="Stat Image 2">
            </div>
        </div>
    </section>

    <section class="recruiters">
        <h2>Our Recruiters</h2>
        <div class="recruiters-image">
            <img src="/Images/wb7.jpg" alt="Recruiters Image">
        </div>
    </section>

    <section class="coordinators">
        <h2>Our Coordinators</h2>
        <div class="coordinators-container">
            <div class="coordinator-box">
                <img src="/Images/bk14.jpg" alt="Coordinator 1">
                <P>Datt Patel</P>
                <p>Mail:dattpatel@gmail.com</p>
                
            </div>
            <div class="coordinator-box">
                <img src="/Images/bk14.jpg" alt="Coordinator 2">
                <P>Yogesh Nade</P>
                <p>Mail:dattpatel@gmail.com</p>
            </div>
            <div class="coordinator-box">
                <img src="/Images/bk14.jpg" alt="Coordinator 3">
                <P>Vikas Sharma</P>
                <p>Mail:dattpatel@gmail.com</p>
            </div>
        </div>
    </section>
    <section class="recruiters">
        <h2>Contact us</h2>
       
            <p>Official Mail ID:office_placement@iiitsurat.ac.in</p>
            <p>TPO Mail ID: tpo@iiitsurat.ac.in</p>
            <p>Mobile No:999999999</p>
       
    </section>
    <footer>
        <p>&copy; 2024 College Placement Management System</p>
    </footer>
</body>
</html>